parameters:
    level: 8
    paths:
        - src
        - tests
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    type_coverage:
        return_type: 98
        param_type: 98
        property_type: 98
